*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  background: #23242a;
  
  
}
.box{
    position: relative;
    width: 380px;
    height:420px;
    background:#1c1c1c;
    border-radius:10px;
    overflow: hidden;
   
}



 .box::before{
    content:'';
    position:absolute;
    top: -50%;
    left:-50%;
    width: 380px;
    height:420px;
    background:linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin:bottom right;
    animation:animate 8s linear infinite;  
} 
.box::after{
    content:'';
    position:absolute;
    top:-50%;
    left:-50%;
    width: 380px;
    height:420px;
    background:linear-gradient(0deg,transparent,#d400d4,#d400d4);
    transform-origin:bottom right;
    animation:animate 8s linear infinite;
    animation-delay: -4s;
    
} 


@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.login_form{
    position: absolute; 
    inset: 2px;
    border-radius:8px;
    z-index:10;
    background:#28292d;
}
form{
    position: relative;
    width:100%;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

form h2{
    color:#45f3ff;
}
.input_field{
    position: relative;
    width:300px;
    padding: 20px 10px 10px;
    margin-top: 10px;
    z-index: 11;
    
}

.input_field input{
    width:100%;
    padding: 8px 5px;
    background:transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    z-index: 10;
    font-size:1em;
    z-index:10;
}
.input_field span{
    position: absolute;
    left:0;
    padding: 20px 10px;
    font-size:1em;
    color:#8f8f8f;
    font-size:1em;
    pointer-events: none;
}
.input_field input:valid ~span,.input_field input:focus  ~span{
    color:#45f3ff;
    transform: translateX(-10px) translateY(-44px);
}

.input_field i{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height:2px;
    background: #45f3ff;
    border-radius: 4px;
    z-index: -10;
}

.input_field input:valid ~i,.input_field input:focus  ~i{
    height:50px;
    
    
}

.input_link {
    width:300px;
    display: flex;
  justify-content: space-between;
  padding: 10px 10px  
}
.input_link a,.input_link a:hover,.input_link a:visited,.input_link a:active{
    text-decoration:none;
    color: #45f3ff;
}

.input_field [type="submit"]{
    border: none;
    outline:none;
    background: #45f3ff;
    padding:11px 25px;
    width:100px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}